.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  row-gap: 16px;
}

.top {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.topControls {
  display: flex;
  column-gap: 8px;

  & > button {
    color: var(--black);
  }
}

.days {
  display: grid;
  grid-template-columns: repeat(7, calc(100% / 7));
  grid-template-rows: repeat(6, calc(100% / 6));
  flex-grow: 1;
  border-right: 1px solid var(--grey_100);
  border-bottom: 1px solid var(--grey_100);
}

.day {
  padding: 8px;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  border-top: 1px solid var(--grey_100);
  border-left: 1px solid var(--grey_100);
  background-color: var(--dark_100);
  user-select: none;
}

.day.notAvailable {
  background-color: var(--dark_200);
  color: var(--grey_300);
}

.dayEvents {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.dayEvent {
  padding: 2px 4px;
  border-radius: 4px;
  background-color: var(--blue);
}
